@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ZurichCondensed';
  src: url('/fonts/Zurich_Light_Condensed_BT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
